{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="ml-20 mr-20 mb-10 mt-10 font-bold text-3xl">Add expense ➕</div>


    <form class="shadow-lg ml-20 mr-20 mb-20 mt-10 rounded-lg bg-gray-100" method="POST">


        {% csrf_token %}
        <div class="form-container px-10 py-10 flex">
            <div class="mx-10">
                <div class="mb-5">
                    <label>Expense Name</label>
                </div>
                <div class="border"> {{ expense_form.name }}</div>
            </div>

            <div class="mx-10">
                <div class="mb-5">
                    <label>Expense Amount</label>
                </div>
                <div class="border"> {{ expense_form.amount }}</div>
            </div>

            <div class="mx-10">
                <div class="mb-5">
                    <label>Expense Category</label>
                </div>
                <div class="border"> {{ expense_form.category }}</div>
            </div>
            <div class="mx-10 mt-8">
                <button class="btn btn-soft btn-info">Add</button>
            </div>
        </div>
    </form>

    <div class="ml-20 mr-20 mb-10 mt-10 font-bold text-3xl">Expenses 🪙</div>

    <div class="shadow-lg  ml-20 mr-20 mb-10 mt-10 rounded-lg bg-gray-100">
        <div class="expense-header flex-wrap space-x-20 py-4 px-10">
            <span class="text-2xl font-extrabold">Name</span>
            <span class="text-2xl font-extrabold">Amount</span>
            <span class="text-2xl font-extrabold">Category</span>
            <span class="text-2xl font-extrabold">Date</span>
            <span class="text-2xl font-extrabold">Edit</span>
            <span class="text-2xl font-extrabold">Delete</span>
        </div>
        <hr class="h-0.5 bg-gray-200 rounded-sm dark:bg-gray-700 m-5">
        {% for expense in expenses %}
            <div class=" expense-row flex px-10 py-4 justify-center">
                <span class="font-bold">{{ expense.name }}</span>
                <span>{{ expense.amount }} zł</span>
                <span>{{ expense.category }}</span>
                <span>{{ expense.date }}</span>
                <span class="align-middle"><a class="flex justify-center" href="{% url 'edit' expense.id %}">
                    <img class="h-6 w-6" src="{% static 'images/edit.png' %}">
                </a></span>
                <span>
                    <form method="POST" action="{% url 'delete' expense.id %}">
                        {% csrf_token %}
                        <button type="submit" name="delete">
                            <img class="h-6 w-6" src="{% static 'images/delete.png' %}">
                        </button>
                    </form>
                </span>
            </div>{% endfor %}
    <!-- Displaying total-->
    <div class="px-100 py-10">
       <span class="font-bold text-lg">  Total: {{ total_expenses.amount__sum }}zł</span>
    </div>
    </div>









{% endblock %}