{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>This is main page</h1>


    <form class="shadow-lg m-20 rounded-lg bg-gray-100" method="POST">


        {% csrf_token %}
        <div class="form-container px-10 py-10 flex">
            <div class="mx-10">
                <div class="mb-5">
                    <label>Expense Name</label>
                </div>
                <div class="border"> {{ expense_form.name }}</div>
            </div>

            <div class="mx-10">
                <div class="mb-5">
                    <label>Expense Amount</label>
                </div>
                <div class="border"> {{ expense_form.amount }}</div>
            </div>

            <div class="mx-10">
                <div class="mb-5">
                    <label>Expense Category</label>
                </div>
                <div class="border"> {{ expense_form.category }}</div>
            </div>
            <div class="mx-10 mt-8">
                <button class="btn btn-soft btn-info">Add</button>
            </div>
        </div>
    </form>

    <div>Expenses</div>
    <div class="shadow-lg m-20 rounded-lg bg-gray-100">
        <div class="expense-header flex-wrap space-x-20">
            <span class="text-2xl font-extrabold">Name</span>
            <span class="text-2xl font-extrabold">Amount</span>
            <span class="text-2xl font-extrabold">Category</span>
            <span class="text-2xl font-extrabold">Date</span>
            <span class="text-2xl font-extrabold">Edit</span>
            <span class="text-2xl font-extrabold">Delete</span>
        </div>
        <hr class="h-0.5 bg-gray-200 rounded-sm dark:bg-gray-700 m-5">
        {% for expense in expenses %}
            <div class="expense-row flex px-10 py-4">
                <span class="font-bold">{{ expense.name }}</span>
                <span>{{ expense.amount }}</span>
                <span>{{ expense.category }}</span>
                <span>{{ expense.date }}</span>
                <span><a href="">Edit</a></span>
                <span>
                    <form method="POST" action="{% url 'delete' expense.id %}">
                        {% csrf_token %}
                        <button type="submit" name="delete">
                            Delete
                        </button>
                    </form>
                </span>
            </div>{% endfor %}
    </div>









{% endblock %}